﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mobile Service Center</title>
    <link href="~/css/bootraps/bootstrap-responsive.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <link href="~/css/bootraps/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/css/bootraps/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/bootraps/bootstrap.js"></script>
    <script src="~/js/bootraps/bootstrap.min.js"></script>

</head>

<body>
    <!--HEADRER-->
    <div class="header">
        <div class="topheader">
            <div class="topheader-inner w1020px marginauto">
                <ul class="pull-right">
                    <li class="topnav-active">
                        <a href="#">About Us</a>
                    </li>

                    <li>@Html.ActionLink("Đăng Nhập", "Login", "Users")</li>

                    <li>@Html.ActionLink("Đăng ký", "Create", "Users")</li>

                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>

                    <li><a class="4rum" href="#">Diễn đàn</a></li>
                </ul>

            </div>
        </div>

        <div class="branch">
            <div class="w1020px marginauto">
                <div class="pull-left">
                    <img src="~/image/icon-logo/logo-260x90.png" />
                </div>
                <div class="pull-right">
                    <img src="~/image/icon-logo/banner-top.png" />
                </div>
            </div>
        </div>

        <div class="navbar">
            <div class="navbar-inner">
                <div class="w1020px marginauto">
                    <ul class="nav ">
                        <li class="active">
                            <a href="#">Trang chủ</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li><a href="#">Điện thoại</a></li>

                        <li><a href="#">Phụ kiện </a></li>

                        <li><a href="#">Dịch vụ sửa chữa</a></li>

                        <li><a href="#">Báo giá </a></li>

                        <li><a href="#">Tin tức </a></li>

                        <li><a href="#">Chính sách & Hướng dẫn</a></li>

                        <li><a href="#">Hỏi đáp </a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li>
                            <a class="link4rum" href="#">Diễn đàn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--END-HEADRER-->
    <!--MAINBODY-->
    <div class="mainbody left-fl">
        <div class="mainbody-content w1020px marginauto">
            <div class="left-area w220px left-fl">
                <div class="block menu-list branch-mobile ">
                    <h4 class="pd5x10"> Danh mục</h4>
                    <ul class="nav nav-list w190px bs-docs-sidenav ">
                        <li class="active">
                            <a href="#">
                                <span class="branch-mobile">Apple</span>
                            </a>
                            <ul>
                                <li><a href="#">Iphone</a></li>
                                <li><a href="#">Ipad</a></li>
                                <li><a href="#">Sửa chữa Iphone </a></li>
                                <li><a href="#">Phụ kiện Iphone </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">Nokia</span>
                            </a>
                            <ul>
                                <li><a href="#">Lumia</a></li>
                                <li><a href="#">Điện thoại mới</a></li>
                                <li><a href="#">Điện thoại cũ</a></li>
                                <li><a href="#">Sửa chữa Nokia </a></li>
                                <li><a href="#">Phụ kiện Nokia </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">SamSung</span>
                            </a>
                            <ul>
                                <li><a href="#">Galaxy </a></li>
                                <li><a href="#">Điện thoại mới</a></li>
                                <li><a href="#">Điện thoại cũ</a></li>
                                <li><a href="#">Sửa chữa SamSung </a></li>
                                <li><a href="#">Phụ kiện SamSung </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">LG Electronic</span>
                            </a>
                            <ul>
                                <li><a href="#">Optimus </a></li>
                                <li><a href="#">Điện thoại mới</a></li>
                                <li><a href="#">Điện thoại cũ</a></li>
                                <li><a href="#">Sửa chữa LG </a></li>
                                <li><a href="#">Phụ kiện LG </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">Sony</span>
                            </a>
                            <ul>
                                <li><a href="#">Xperia </a></li>
                                <li><a href="#">Điện thoại mới</a></li>
                                <li><a href="#">Điện thoại cũ</a></li>
                                <li><a href="#">Sửa chữa Sony </a></li>
                                <li><a href="#">Phụ kiện Sony </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">HTC</span>
                            </a>
                            <ul>
                                <li><a href="#">Điện thoại mới</a></li>
                                <li><a href="#">Điện thoại cũ</a></li>
                                <li><a href="#">Sửa chữa HTC </a></li>
                                <li><a href="#">Phụ kiện HTC </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">Sky Pantech</span>
                            </a>
                            <ul>
                                <li><a href="#">Điện thoại mới </a></li>
                                <li><a href="#">Điện thoại cũ </a></li>
                                <li><a href="#">Dịch vụ & Sửa chữa </a></li>
                                <li><a href="#">Phụ kiện Sky </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">Oppo</span>
                            </a>
                            <ul>
                                <li><a href="#">Điện thoại mới </a></li>
                                <li><a href="#">Điện thoại cũ </a></li>
                                <li><a href="#">Dịch vụ & Sửa chữa </a></li>
                                <li><a href="#">Phụ kiện Oppo </a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div class="block menu-list accessories">
                    <h4 class="pd5x10">Phụ kiện</h4>
                    <ul class="nav nav-list w190px bs-docs-sidenav">
                        <li><a href="#">Tai nghe</a></li>
                        <li><a href="#">Tai nghe Blutooth</a></li>
                        <li class="active"><a href="#">Pin</a></li>
                        <li><a href="#">Vỏ máy</a></li>
                        <li><a href="#">Ốp lưng</a></li>
                    </ul>
                </div>

                <div class="block menu-list supportlive">
                    <h4 class="pd5x10 ">Hỗ trợ trực tuyến</h4>
                    <ul class="nav nav-list w190px ">
                        <li>
                            <a href="ymsgr:SendIM?myphamhoakim1">
                                Kinh doanh 1:
                                <img id="lvhelp_stt" src="http://opi.yahoo.com/online?u=myphamhoakim1&m=g&t=1">
                            </a>
                        </li>
                        <li>
                            <a href="ymsgr:SendIM?myphamhoakim1">
                                Kinh doanh 2:
                                <img id="lvhelp_stt" src="http://opi.yahoo.com/online?u=myphamhoakim1&m=g&t=1">
                            </a>
                        </li>
                        <li>
                            <a href="ymsgr:SendIM?myphamhoakim1">
                                Kinh doanh 3:
                                <img id="lvhelp_stt" src="http://opi.yahoo.com/online?u=myphamhoakim1&m=g&t=1">
                            </a>
                        </li>
                        <li>
                            <a href="ymsgr:SendIM?myphamhoakim1">
                                Kinh doanh 4:
                                <img id="lvhelp_stt" src="http://opi.yahoo.com/online?u=myphamhoakim1&m=g&t=1">
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="block bannerw220">
                    <!--Chi lay anh trong banner, Tai phan minh hoa dang lay trong phan logo-->
                    <ul class="clean">
                        <li>
                            <a href="#">
                                <img src="~/image/banner/banner1.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/image/banner/banner2.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/image/product/Image 33.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/image/product/Image 32.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai-->
            <div class="right-area w775px left-fl pd10">

                <!-- Start WOWSlider.com HEAD section -->
                <link href="~/css/wowhome.css" rel="stylesheet" />
                <script src="~/js/wowslider/jquery.js"></script>
                <!-- End WOWSlider.com HEAD section -->
                </head>
                <body style="background-color:#d7d7d7">
                    <!-- Start WOWSlider.com BODY section -->
                    <div id="wowslider-container1">
                        <div class="ws_images">
                            <ul>
                                <li><img src="~/image/slider/1.jpg" alt="c13f72f237d765fc0e69e35ba7eb9dd9" title="c13f72f237d765fc0e69e35ba7eb9dd9" id="wows1_0" /></li>
                                <li><img src="~/image/slider/2.jpg" alt="a8235d1055e66c22d61373e942096745" title="a8235d1055e66c22d61373e942096745" id="wows1_1" /></li>
                            </ul>
                        </div>
                        <div class="ws_bullets">
                            <div>
                                <a href="#" title="c13f72f237d765fc0e69e35ba7eb9dd9">1</a>
                                <a href="#" title="a8235d1055e66c22d61373e942096745">2</a>
                            </div>
                        </div>
                        <span class="wsl"><a href="#">Carousel Plugin</a> by WOWSlider.com v4.3</span>
                        <div class="ws_shadow"></div>
                    </div>
                    <script type="text/javascript" src="js/wowslider/wowslider.js"></script>
                    <script type="text/javascript" src="js/wowslider/script.js"></script>
                    <!-- End WOWSlider.com BODY section -->
                    <!--MainProduct-->
                    <!--div class="group group-Product left-fl wp100">
                        <ul>
                            <li><a href="#"><img src="images/banner/group-iphone.jpg" /></a></li>
                            <li><a href="#"><img src="images/banner/group-htc.jpg" /></a></li>
                            <li><a href="#"><img src="images/banner/group-samsung.jpg" /></a></li>
                        </ul>
                    </div-->
                    <!--END=Product-->
                    <!--MainAccessories-->
                    <div class=" group group-Accessories left-fl wp100">
                        <ul class="wp100 clean">
                            <li><a href="#"><img class="wp32" src="~/image/banner/acc-htc.png" /></a></li>
                            <li style="margin:0px 1px;"><a href="#"><img class="wp32" src="~/image/banner/acc-ip.png" /></a></li>
                            <li><a href="#"><img class="wp32" src="~/image/banner/acc-samsung.png" /></a></li>
                        </ul>
                    </div>
                    <!--END=Accessories-->
                    <div class="clear wp100"></div>
                    <!--GridProduct-->
                    <!--GridProduct-->
                    <!--Nhom san pham-->
                    <div class="group product clearfix">
                        <!--title-->
                        <div class="header2">
                            <span class="title">
                                <span>
                                    <a href="/dien-thoai/maxfone-22.aspx">Dịch vụ sửa chữa</a>
                                </span>
                            </span>
                        </div>
                        <!--end--title-->
                        <div class="grid w255px  left-fl mg-top5 gachbottom">

                            <div class="left-fl imgProduct w110px">
                                <a href="#">
                                    <span class="imgProduct">
                                        <img class="resizeP-Home" src="~/image/product/201306201731053300_find-piano_OPPO.png" />
                                    </span>
                                </a>
                            </div>

                            <div class="left-fl desProduct w130px">
                                <ul class="desProduct clean">
                                    <h6>Màn hình Iphone $S</h6>
                                    <li><b>Xuất sứ:</b> Chính hãng</li>
                                    <li><b>Bảo hành:</b> 12 Tháng</li>
                                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                                    <li><b>Tình trạng:</b> BrandNew</li>
                                    <li><b>Trạng thái:</b> Còn hàng</li>
                                    <li class="gift"> Khuyến mại</li>
                                </ul>
                            </div>
                            <div class="clear mg-left30 ">
                                <span class="btn btn-info ">3.500.000</span>
                                <span class="btn btn-inverse ">Chi tiết</span>
                            </div>

                        </div>
                        <div class="grid w255px  left-fl mg-top5 gachbottom">

                            <div class="left-fl imgProduct w110px">
                                <a href="#">
                                    <span class="imgProduct">
                                        <img class="resizeP-Home" src="~/image/product/201307091643208514_oppo-find-5.png" />
                                    </span>
                                </a>
                            </div>

                            <div class="left-fl desProduct w130px">
                                <ul class="desProduct clean">
                                    <h6>Thay màn Ipad</h6>
                                    <li><b>Xuất sứ:</b> Chính hãng</li>
                                    <li><b>Bảo hành:</b> 12 Tháng</li>
                                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                                    <li><b>Tình trạng:</b> BrandNew</li>
                                    <li><b>Trạng thái:</b> Còn hàng</li>
                                    <li class="gift"> Khuyến mại</li>
                                </ul>
                            </div>
                            <div class="clear mg-left30 ">
                                <span class="btn btn-info ">5.000.000</span>
                                <span class="btn btn-inverse ">Chi tiết</span>
                            </div>
                        </div>
                        <div class="grid w255px  left-fl mg-top5 gachbottom">

                            <div class="left-fl imgProduct w110px">
                                <a href="#">
                                    <span class="imgProduct">
                                        <img class="resizeP-Home" src="~/image/product/201307091643209450_find_clover.png" />
                                    </span>
                                </a>
                            </div>

                            <div class="left-fl desProduct w130px">
                                <ul class="desProduct clean">
                                    <h6>Ipad Mini 16GB</h6>
                                    <li><b>Xuất sứ:</b> Chính hãng</b></li>
                                    <li><b>Bảo hành:</b> 12 Tháng</li>
                                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                                    <li><b>Tình trạng:</b> BrandNew</li>
                                    <li><b>Trạng thái:</b> Còn hàng</li>
                                    <li class="gift"> Khuyến mại</li>
                                </ul>
                            </div>
                            <div class="clear mg-left30 ">
                                <span class="btn btn-info ">13.000.000</span>
                                <span class="btn btn-inverse ">Chi tiết</span>
                            </div>
                        </div>

                    </div>
                    <!--END=GridProduct-->
                    <div class="clea "></div>

                    <!--Nhom san pham-->
                    <div class="group product clearfix">
                        <!--title-->
                        <div class="header2">
                            <span class="title">
                                <span>
                                    <a href="/dien-thoai/maxfone-22.aspx">Điện thoại</a>Tai day de tong hop cac loai dien thoai - moi dong 3 sanpham cua 1 loai, vd dong 1 : ipad,iphone, ipod, dong 2, galaxys3, galaxy s4, note, dong3,lumia800,900,920...vv..v
                                </span>
                            </span>
                        </div>
                        <!--end--title-->
                        <div class="grid w255px  left-fl mg-top5 gachbottom">

                            <div class="left-fl imgProduct w110px">
                                <a href="#">
                                    <span class="imgProduct">
                                        <img class="resizeP-Home" src="~/image/product/201209130941192978_iphone5_hoanghamobile3.jpg" />
                                    </span>
                                </a>
                            </div>

                            <div class="left-fl desProduct w130px">
                                <ul class="desProduct clean">
                                    <h6>Iphone 4S 16Gb</h6>
                                    <li><b>Xuất sứ:</b> Chính hãng</li>
                                    <li><b>Bảo hành:</b> 12 Tháng</li>
                                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                                    <li><b>Tình trạng:</b> BrandNew</li>
                                    <li><b>Trạng thái:</b> Còn hàng</li>
                                    <li class="gift"> Khuyến mại</li>
                                </ul>
                            </div>
                            <div class="clear mg-left30 ">
                                <span class="btn btn-info ">13.000.000</span>
                                <span class="btn btn-inverse ">Chi tiết</span>
                            </div>
                        </div>
                        <div class="grid w255px  left-fl mg-top5 gachbottom">

                            <div class="left-fl imgProduct w110px">
                                <a href="#">
                                    <span class="imgProduct">
                                        <img class="resizeP-Home" src="~/image/product/201211051040239600_ipad4_1.png" />
                                    </span>
                                </a>
                            </div>

                            <div class="left-fl desProduct w130px">
                                <ul class="desProduct clean">
                                    <h6>Ipad 4 16GB</h6>
                                    <li><b>Xuất sứ:</b> Chính hãng</li>
                                    <li><b>Bảo hành:</b> 12 Tháng</li>
                                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                                    <li><b>Tình trạng:</b> BrandNew</li>
                                    <li><b>Trạng thái:</b> Còn hàng</li>
                                    <li class="gift"> Khuyến mại</li>
                                </ul>
                            </div>
                            <div class="clear mg-left30 ">
                                <span class="btn btn-info ">13.000.000</span>
                                <span class="btn btn-inverse ">Chi tiết</span>
                            </div>
                        </div>
                        <div class="grid w255px  left-fl mg-top5 gachbottom">

                            <div class="left-fl imgProduct w110px">
                                <a href="#">
                                    <span class="imgProduct">
                                        <img class="resizeP-Home" src="~/image/product/201211261731532076_ipad_mini_white.png" />
                                    </span>
                                </a>
                            </div>

                            <div class="left-fl desProduct w130px">
                                <ul class="desProduct clean">
                                    <h6>Ipad Mini 16GB</h6>
                                    <li><b>Xuất sứ:</b> Chính hãng</b></li>
                                    <li><b>Bảo hành:</b> 12 Tháng</li>
                                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                                    <li><b>Tình trạng:</b> BrandNew</li>
                                    <li><b>Trạng thái:</b> Còn hàng</li>
                                    <li class="gift"> Khuyến mại</li>
                                </ul>
                            </div>
                            <div class="clear mg-left30 ">
                                <span class="btn btn-info ">13.000.000</span>
                                <span class="btn btn-inverse ">Chi tiết</span>
                            </div>
                        </div>
                        <div class="grid w255px  left-fl mg-top5 gachbottom">

                            <div class="left-fl imgProduct w110px">
                                <a href="#">
                                    <span class="imgProduct">
                                        <img class="resizeP-Home" src="~/image/product/201303151506133450_one v.jpg" />
                                    </span>
                                </a>
                            </div>

                            <div class="left-fl desProduct w130px">
                                <ul class="desProduct clean">
                                    <h6>Ipad Mini 16GB</h6>
                                    <li><b>Xuất sứ:</b> Chính hãng</b></li>
                                    <li><b>Bảo hành:</b> 12 Tháng</li>
                                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                                    <li><b>Tình trạng:</b> BrandNew</li>
                                    <li><b>Trạng thái:</b> Còn hàng</li>
                                    <li class="gift"> Khuyến mại</li>
                                </ul>
                            </div>
                            <div class="clear mg-left30 ">
                                <span class="btn btn-info ">13.000.000</span>
                                <span class="btn btn-inverse ">Chi tiết</span>
                            </div>

                        </div>
                        <div class="grid w255px  left-fl mg-top5 gachbottom">

                            <div class="left-fl imgProduct w110px">
                                <a href="#">
                                    <span class="imgProduct">
                                        <img class="resizeP-Home" src="~/image/product/201210031523066780_dien-thoai-di-dong-samsung-galaxy-noteii-n7100-hoanghamobile.com-9.jpg" />
                                    </span>
                                </a>
                            </div>

                            <div class="left-fl desProduct w130px">
                                <ul class="desProduct clean">
                                    <h6>Iphone 4S 16Gb</h6>
                                    <li><b>Xuất sứ:</b> Chính hãng</li>
                                    <li><b>Bảo hành:</b> 12 Tháng</li>
                                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                                    <li><b>Tình trạng:</b> BrandNew</li>
                                    <li><b>Trạng thái:</b> Còn hàng</li>
                                    <li class="gift"> Khuyến mại</li>
                                </ul>
                            </div>
                            <div class="clear mg-left30 ">
                                <span class="btn btn-info ">13.000.000</span>
                                <span class="btn btn-inverse ">Chi tiết</span>
                            </div>

                        </div>
                        <div class="grid w255px  left-fl mg-top5 gachbottom">

                            <div class="left-fl imgProduct w110px">
                                <a href="#">
                                    <span class="imgProduct">
                                        <img class="resizeP-Home" src="~/image/product/201306261547156936_samsung_galaxy_mega_5.8_duo.png" />
                                    </span>
                                </a>
                            </div>

                            <div class="left-fl desProduct w130px">
                                <ul class="desProduct clean">
                                    <h6>Ipad 4 16GB</h6>
                                    <li><b>Xuất sứ:</b> Chính hãng</li>
                                    <li><b>Bảo hành:</b> 12 Tháng</li>
                                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                                    <li><b>Tình trạng:</b> BrandNew</li>
                                    <li><b>Trạng thái:</b> Còn hàng</li>
                                    <li class="gift"> Khuyến mại</li>
                                </ul>
                            </div>
                            <div class="clear mg-left30 ">
                                <span class="btn btn-info ">13.000.000</span>
                                <span class="btn btn-inverse ">Chi tiết</span>
                            </div>
                        </div>
                        <div class="grid w255px  left-fl mg-top5 gachbottom">

                            <div class="left-fl imgProduct w110px">
                                <a href="#">
                                    <span class="imgProduct">
                                        <img class="resizeP-Home" src="~/image/product/1.png" />
                                    </span>
                                </a>
                            </div>

                            <div class="left-fl desProduct w130px">
                                <ul class="desProduct clean">
                                    <h6>Ipad 4 16GB</h6>
                                    <li><b>Xuất sứ:</b> Chính hãng</li>
                                    <li><b>Bảo hành:</b> 12 Tháng</li>
                                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                                    <li><b>Tình trạng:</b> BrandNew</li>
                                    <li><b>Trạng thái:</b> Còn hàng</li>
                                    <li class="gift"> Khuyến mại</li>
                                </ul>
                            </div>
                            <div class="clear mg-left30 ">
                                <span class="btn btn-info ">13.000.000</span>
                                <span class="btn btn-inverse ">Chi tiết</span>
                            </div>
                        </div>
                        <div class="grid w255px  left-fl mg-top5 gachbottom">

                            <div class="left-fl imgProduct w110px">
                                <a href="#">
                                    <span class="imgProduct">
                                        <img class="resizeP-Home" src="~/image/product/2.png" />
                                    </span>
                                </a>
                            </div>

                            <div class="left-fl desProduct w130px">
                                <ul class="desProduct clean">
                                    <h6>Ipad 4 16GB</h6>
                                    <li><b>Xuất sứ:</b> Chính hãng</li>
                                    <li><b>Bảo hành:</b> 12 Tháng</li>
                                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                                    <li><b>Tình trạng:</b> BrandNew</li>
                                    <li><b>Trạng thái:</b> Còn hàng</li>
                                    <li class="gift"> Khuyến mại</li>
                                </ul>
                            </div>
                            <div class="clear mg-left30 ">
                                <span class="btn btn-info ">13.000.000</span>
                                <span class="btn btn-inverse ">Chi tiết</span>
                            </div>
                        </div>
                        <div class="grid w255px  left-fl mg-top5 gachbottom">

                            <div class="left-fl imgProduct w110px">
                                <a href="#">
                                    <span class="imgProduct">
                                        <img class="resizeP-Home" src="~/image/product/3.png" />
                                    </span>
                                </a>
                            </div>

                            <div class="left-fl desProduct w130px">
                                <ul class="desProduct clean">
                                    <h6>Ipad 4 16GB</h6>
                                    <li><b>Xuất sứ:</b> Chính hãng</li>
                                    <li><b>Bảo hành:</b> 12 Tháng</li>
                                    <li><b>Màu sắc:</b> Xanh, Đỏ, Tím, Trắng</li>
                                    <li><b>Tình trạng:</b> BrandNew</li>
                                    <li><b>Trạng thái:</b> Còn hàng</li>
                                    <li class="gift"> Khuyến mại</li>
                                </ul>
                            </div>
                            <div class="clear mg-left30 ">
                                <span class="btn btn-info ">13.000.000</span>
                                <span class="btn btn-inverse ">Chi tiết</span>
                            </div>
                        </div>
                    </div>
                    <!--END=GridProduct-->
                    <div class="clear"></div>

                    <!--GridProduct-->
                    <!--Nhom san pham-->
                    <!--END=GridProduct-->
                    <div class="clear "></div>
                    <!--GridProduct-->
                    <!--Nhom san pham-->
                    <div class="group product clearfix">
                        <!--title-->
                        <div class="header2">
                            <span class="title">
                                <span>
                                    <a href="/dien-thoai/maxfone-22.aspx">Phụ kiện điện thoại</a>
                                </span>
                            </span>
                        </div>
                        <!--end--title-->
                        <div class="grid left-fl pd5">
                            <ul class="thumbnails">
                                <li class="w230px">
                                    <div class="thumbnail">
                                        <a class="resizeA-over" href="#"><img class="resizeA-Home" src="~/image/product/201107221116256764_g1.jpg" /></a>
                                        <div class="caption">
                                            <a href="#"><h5>Bao da Ipad Belk Chính hãng</h5></a>
                                            <p class="btn btn-primary" href="#">300.000</p>
                                            </p>
                                        </div>

                                    </div>
                                </li>
                                <li class="w230px">
                                    <div class="thumbnail">
                                        <a class="resizeA-over" href="#"><img class="resizeA-Home" src="~/image/product/201112311125425625_PPSL-2.png" /></a>
                                        <div class="caption">
                                            <a href="#"><h5>Bao da Ipad Belk Chính hãng</h5></a>
                                            <p class="btn btn-primary" href="#">300.000</p>
                                            </p>
                                        </div>

                                    </div>
                                </li>
                                <li class="w230px">
                                    <div class="thumbnail">
                                        <a class="resizeA-over" href="#"><img class="resizeA-Home" src="~/image/product/Image 32.png" /></a>
                                        <div class="caption">
                                            <a href="#"><h5>Sạc Iphone - Original</h5></a>
                                            <p class="btn btn-primary" href="#">300.000</p>
                                            </p>
                                        </div>

                                    </div>
                                </li>
                                <li class="w230px">
                                    <div class="thumbnail">
                                        <a class="resizeA-over" href="#"><img class="resizeA-Home" src="~/image/product/201107221116256764_g1.jpg" /></a>
                                        <div class="caption">
                                            <a href="#"><h5>Bao da Ipad Belk Chính hãng</h5></a>
                                            <p class="btn btn-primary" href="#">300.000</p>
                                            </p>
                                        </div>

                                    </div>
                                </li>
                                <li class="w230px">
                                    <div class="thumbnail">
                                        <a class="resizeA-over" href="#"><img class="resizeA-Home" src="~/image/product/201112311125424843_PPBS-119.png" /></a>
                                        <div class="caption">
                                            <a href="#"><h5>Bao da Ipad Belk Chính hãng</h5></a>
                                            <p class="btn btn-primary" href="#">300.000</p>
                                            </p>
                                        </div>

                                    </div>
                                </li>
                                <li class="w230px">
                                    <div class="thumbnail">
                                        <a class="resizeA-over" href="#"><img class="resizeA-Home" src="~/image/product/201112311125428125_PPSL-16.png" /></a>
                                        <div class="caption">
                                            <a href="#"><h5>Sạc Iphone - Original</h5></a>
                                            <p class="btn btn-primary" href="#">300.000</p>
                                            </p>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--END=GridProduct-->
                    <!--HelpBanner-->
                    <div class="">
                        <a href="#"> <img src="~/image/icon-logo/help2.png" /></a>
                        <a href="#"> <img src="~/image/icon-logo/help3.png" /></a>
                        <a href="#"> <img src="~/image/icon-logo/help4.png" /></a>
                    </div>
                    <!--END=HelpBanner-->

            </div>
            <!--Vung ben phai-->
        </div>
    </div>
    <!--END-MAINBODY-->
    <!--FOOTER-->
    <div class="footer wp100">
        <div class="footer-inner marginauto w1000px">
            <div class="pull-left">
                <p> Địa chỉ Showroom: 14K1 Thái Hà mới</p>
                <p>Cách ngã tư Thái Hà 200m Bản đồ</p>
                <p> Làm việc cả tuần từ 8h30”AM đến 7h30”PM</p>
                <p>Hotline: 094 761 1142</p>
            </div>

            <div class="pull-right"></div>
        </div>

    </div>
    <!--END-FOOTER-->
</body>
</html>
