﻿@{
    ViewBag.Title = "Thông tin";
}

<h2>Thông tin tài khoản</h2>

<div>
    <table>
        <tr>
            <td>Tên đăng nhập</td>
            <td><p>@ViewBag.u_user</p></td>
        </tr>
        <tr>
            <td>Mật khẩu</td>
            <td><p>@ViewBag.u_pass</p></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><p>@ViewBag.u_email</p></td>
        </tr>
        <tr>
            <td>Giới tính</td>
            <td><p>@ViewBag.u_sex</p></td>
        </tr>
        <tr>
            <td>Ngày tháng năm sinh</td>
            <td><p>@ViewBag.u_bday</p></td>
        </tr>
        <tr>
            <td>Nơi ở hiện tại</td>
            <td><p>@ViewBag.u_adress</p></td>
        </tr>
        <tr>
            <td>Điện thoại liên lạc</td>
            <td><p>@ViewBag.u_phone</p></td>
        </tr>
    </table>
</div>