﻿<div id="freeLeft">
	</div>
	<div id="freeRight">
	</div>
    <div id="main-farmwork">
        
        <div id="ja-mainnav">
            <ul id="primary">
                <li>
                    <a href="/Home/Index">TRANG CHỦ</a>
                </li>
                <li>
                    <a href="/Introduction/Index4">GIỚI THIỆU
					</a>
                </li>
                <li >
                    <a href="/Contact/contact">
					LIÊN HỆ
					</a>
                </li>       
            </ul>
			<ul id="support">
				<li>
                    <a href="/signin/Index3">
					SIGN-IN
					</a>
                </li>
                <li>
                   <a href="/signup/Index2">SIGN-UP
					</a>
                </li>
			</ul>
        </div>
		<div id="sliderFrame">
			<div id="slider">
				<img src="~/Content/img/slider-1.png" />
				<img src="~/Content/img/slider-2.png" />
				<img src="~/Content/img/slider-3.png" />
				<img src="~/Content/img/slider-4.png" />
				<img src="~/Content/img/slider-5.png" />
			</div>
			<!--Custom navigation buttons on both sides-->
			<div class="group-Wrapper">
				<a onclick="imageSlider.previous()" class="group-Prev"></a>
				<a onclick="imageSlider.next()" class="group-Next"></a>
			</div>
		</div>
        <div id="ja-container">
            <div class="row">
                <div class="col-xs-3" id="ja-content">
                    <div id="ja-phone">
                        <h3>ĐIỆN THOẠI</h3>
                        <div class="ja-menu">
                            <ul>
                                <li>
                                    <a href="/Product/Detail">
									<div>Iphone</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>BlackBerry</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>HTC</div></a>
									
                                </li>
                                <li>
                                   <a href="/Product/Detail">
									<div>LG</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Nokia</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Samsung</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Oppo</div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="ja-tablet">
                        <h3>MÁY TÍNH BẢNG</h3>
                        <div class="ja-menu">
                            <ul>
                                <li>
                                    <a href="/Product/Detail">
									<div>Asus</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Acer</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Dell</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Ipad</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Lenovo</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Samsung</div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9" id="Product">
                    <div class="link">
                       <a href="../index.html"><div style="color : #333">Trang chủ</div></a>
					   <div> &rsaquo;&rsaquo;</div>
					   <a href="Product.html"><div>Product</div></a>
                    </div>
                    <div id="detail">Chi tiết sản phẩm</div>
					<div id="detail-product">
						<div id ="image">
							<img src="~/Content/img/iphone5s-gold.png"/>
						</div>
						<p><strong>Tên: </strong>Iphone 5s 64GB</p>
						<p><strong>Loại Sản Phẩm: </strong>Điện Thoại Cao Cấp</p>
						<p style="color: red"><strong>Giá: </strong>18.990.000 vnđ</p>
						<p><strong>Chi Tiết Sản Phẩm: </strong> </br>
							Kích thước: 123.8 x 58.6 x 7.6 mm </br>

							Hệ điều hành: ios</br>
							Bộ xử lý: Apple A7 </br>
							Định vị toàn cầu: Có, với hỗ trợ A-GPS và GLONASS</br>
							WLAN: Wi-Fi 802.11 a/b/g/n, dual-band, Wi-Fi hotspot</br>
							Trọng lượng: 112g </br>
							Nhận diện vân tay</br>
							Tốc độ 3G:DC-HSDPA, 42 Mbps; HSDPA, 21 Mbps; HSUPA, 5.76 Mbps, LTE, 100 Mbps; EV-DO Rev. A, up to 3.1 Mbps</br>
							 </p>
						<p><strong>Đánh giá người dùng: </strong>10/10</p>
					</div>
					<div id="comment-area">
						<h3>COMMENTS</h3>
						<br />
						<div id="CommentBox">
							<label style="margin: 0px 5px 0px 38px; vertical-align:top">Tên</label><input style="margin-bottom:10px" id="name" type="text" onblur="if (this.value == '') {this.value = 'Enter your name';}"
													 onfocus="if (this.value == 'Enter your name') {this.value = '';}" value="Enter your name" /><br />
							<label style="margin: 0px 5px 0px 0px; vertical-align:top">Nội dung</label><textarea id="comment" onblur="if (this.value == '') {this.value = 'Enter your comment here';}"
													 onfocus="if (this.value == 'Enter your comment here') {this.value = '';}" >Enter your comment here</textarea>
							<input id="btnSubmit" type="button" value="Submit"  />
							<br />
							<br />
						</div>
						
						<div id="membercomment">
							<div id="item">
								<h3>Nguyễn Văn Nam:</h3>
								<textarea>Đã mua và sử dụng, công nhận tuyệt thật!</textarea>
								<br />
							</div>
							
							<div id="item">
								<h3>Trần Quốc Cường:</h3>
								<textarea>Thấy tuyệt quá, thử mua xem sao.</textarea>
								<br />
							</div>
						</div>
					</div>

                </div>
            </div>
        </div>
    </div>
