﻿body{
    background-color: #ffffff;
    font-family: Arial;
    font-size: 12px;
	background-image:url('../img/background.jpg');
	color: #527b99 !important;
}
div#ja-content h3{

	background-image: url('../img/bgblue.png');
	margin-top: 2px;
	margin-bottom: 5px;
	
}
div#ja-product h3{
	background-image: url('../img/bgblue.png');
	margin-top: 2px;
	margin-bottom: 5px;
}
div.ja-menu li{
	border-bottom: solid 1px #8F959C;
	list-style-type: none;
	padding-left: 5px;
	font-weight: bold;
	color:#527b99;
}
div#ja-mainnav li{
	font-weight: bold;
	color:#527b99;
}
div#ja-mainnav ul{
	margin-top:5px;
	margin-bottom:10px
}
div.link div{
	display: inline;
}
div#intro-content{
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
}
div#contact-content{
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
}
div#sign-up-content div{
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	width: 40%;
	display: inline-block;
	padding-bottom: 10px;
	vertical-align: bottom;
}
div#sign-up-content h3{
	margin-left: 75px;
}
div#sign-up-content {
	padding-left: 150px;
	padding-right:150px;
	line-height: 40px;
}
div#accept{
	display: none;
}
div#sign-in-content div{
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	width: 40%;
	display: inline-block;
	padding-bottom: 10px;
	vertical-align: bottom;
	
}
div#sign-in-content h3{
	margin-left: 110px;
}
div#sign-in-content {
	padding-left: 150px;
	padding-right:150px;
	line-height: 40px;
}
div#button {
	padding-left: 200px;
	padding-right:200px;
}
input{
	height: 25px;
	line-height: 10px !important;
	vertical-align: top;
}
a div{
	font-size: 16px;
}
a div:hover{
	cursor: pointer;
}
.link{
	border-bottom: solid 1px #8F959C;
	padding-bottom: 10px;
}
li div:before {
	display:		inline-block;		
  	width:		0; 		
  	height:		0; 	
	border-top:		solid transparent;
	border-bottom: 	solid transparent;
	border-left:	        solid #918E8E;	
	border-width:	5px;
	content:		' ';
	margin-right:	5px;
}
ul li:hover{
	
}
li a{
	color: black;
}
li div{
	display: inline-block;
	width: 90%;
	padding-left: 10px;
}
ul{
	list-style: none;
	padding-left: 0px;
}
div#intro-content p {
    color: black;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}
div#contact-content p {
    color: black;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}
div#contact-content div{
    font-size: 20px;
}
div .row{
	margin-left: 0px;
	margin-right: 0px;
}
#ja-product{
	border: solid 1px #8F959C;
	height: 100%;
	padding: 0px 0px;
}
#hot-product{
	padding: 5px 0px 0px 50px;
}
p:hover {
    font-style: normal;
}
a:hover {
    font-style: normal;
	text-decoration:none !important;
}
#main-farmwork{
    margin-left: 150px;
    margin-right: 150px;
}
#freeLeft{
	width: 150px;
	height: 1000px;
	float: left;
	display: inline-block;
}
#freeRight{
	width: 150px;
	height: 1000px;
	float: right;
	display: inline-block;
}
ul#primary li{
	float:left;
	margin: 0px 20px;
}
ul#support li{
	float:right;
	margin: 0px 20px;
}

ul#primary{
	float: left;
	display: inline-block;
}
ul#support{
	float:right;
	display: inline-block;
}
#search{
	background-image: url('../img/lblue2.gif');
	height: 35px;
	display:inline;
	padding: 5px 180px 7px 15px;
}
div#search li{
	padding-right:30px;
	display:inline;
	width: 100px;
}
div#search ul{
	display:inline;
}
div#search input{
	display:inline;
	width: 100px;
}
div#search label{
	display:inline;
	margin-right:21px;
	font-size: 16px;
}
#ja-mainnav{
    background-image: url('../img/bgblue.png');
	height: 35px;
}
#sliderFrame{
	background-image: url('../img/lblue2.gif');
	padding-top:15px;
	padding-bottom:10px;
}
#ja-container{
	padding: 15px 10px 15px 10px;
	background-image: url('../img/lblue2.gif');
}
p.price{
    color: #C90A0F !important;
}
p.col-lg-1{
    padding-left: 1px !important;
    padding-right: 1px !important;
}
.spacer {
    width: 220px;
    margin: 0px;
	padding-left:20px;
    vertical-align: top;
}
#ja-phone {
    line-height: 40px;
	border: solid 1px #8F959C;
}
#ja-tablet {
    line-height: 40px;
	border: solid 1px #8F959C;
	padding-bottom: 10px;
}
div#hot-product div{
    display: inline-block;
}
p.triangle{
margin-bottom: 2px;
display: inline-block;
	width: 0px;
height: 0px;
border-style: solid;
border-width: 4px 0 4px 6.9px;
border-color: transparent transparent transparent #767778;
}
#detail-product{
	margin: 20px 0px 0px 150px;
}
div#detail-product p{
	display: block;
}
#detail{
	font-size: 22px;
	margin-left: 250px;
}
div#detail-product img{
	padding: 10px 30px 80px 40px;
	float:left;
	display: inline-block;
}
#image{
	
	width: 30%;
	height: 40%;
}
#list-product div{
	display: inline-block;
}
.product2{
	width: 150px;
    margin: 0px;
	padding-left:20px;
    vertical-align: top;
}

