﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
	<div id="freeLeft">
	</div>
	<div id="freeRight">
	</div>
    <div id="main-farmwork">
        
        <div id="ja-mainnav">
            <ul id="primary">
                <li>
                    <a href="/Home/Index">TRANG CHỦ</a>
                </li>
                <li>
                    <a href="/Introduction/Index4">GIỚI THIỆU
					</a>
                </li>
                <li >
                    <a href="/Contact/contact">
					LIÊN HỆ
					</a>
                </li>       
            </ul>
			<ul id="support">
				<li>
                    <a href="/signin/Index3">SIGN-IN
                    </a>
                </li>
                <li>
                    <a href="/signup/Index2">
					SIGN-UP
					</a>
                </li>
			</ul>
        </div>
		<div id="sliderFrame">
			<div id="slider">
				<img src="../img/slider-1.png" />
				<img src="../img/slider-2.png" />
				<img src="../img/slider-3.png" />
				<img src="../img/slider-4.png" />
				<img src="../img/slider-5.png" />
			</div>
			<!--Custom navigation buttons on both sides-->
			<div class="group-Wrapper">
				<a onclick="imageSlider.previous()" class="group-Prev"></a>
				<a onclick="imageSlider.next()" class="group-Next"></a>
			</div>
		</div>
        <div id="ja-container">
            <div class="row">
                <div class="col-xs-3" id="ja-content">
                    <div id="ja-phone">
                        <h3>ĐIỆN THOẠI</h3>
                        <div class="ja-menu">
                            <ul>
                                <li>
                                    <a href="/Product/Detail">
									<div>Iphone</div></a>
                                </li>
                                <li>
                                    <<a href="/Product/Detail">
									<div>BlackBerry</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>HTC</div></a>
									
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>LG</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Nokia</div></a>
                                </li>
                                <li>
                                   <a href="/Product/Detail">
									<div>Samsung</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Oppo</div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="ja-tablet">
                        <h3>MÁY TÍNH BẢNG</h3>
                        <div class="ja-menu">
                            <ul>
                                <li>
                                    <a href="/Product/Detail">
									<div>Asus</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Acer</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Dell</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Ipad</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Lenovo</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Samsung</div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9" id="introduction">
                    <div class="link">
                       <a href="../index.html"><div style="color : #333">Trang chủ</div></a>
					   <div> &rsaquo;&rsaquo;</div>
					   <a href="Introduction.html"><div>Giới thiệu</div></a>
                    </div>
					<div id="intro-content">
						<div>Giới thiệu</div>
						<p>Được thành lập từ năm 2014, chúng tôi là một trong những nhà phân phối ĐTDĐ đầu tiên tại Hà Nội và kể từ năm 2014, chúng tôi chính thức trở thành nhà phân phối ĐTDĐ SamSung – Masterdealer duy nhất tại 194 đường Lê Duẩn.<br/>
Chúng tôi sẽ cố gắng đem lại cho khách hàng sự hài lòng và thỏa mãn với tất cả các sản phẩm của mình.<br/>
Bên cạnh đó là đội ngũ nhân viên nhiệt tình chu đáo và đầy kinh nghiệm của chúng tôi luôn đưa được ra cho khách hàng những thông tin có giá trị và giúp khách hàng lựa chọn được những sản phẩm phù hợp nhất.<br/>
Để nâng cao thương hiệu của mình, mục tiêu của chúng tôi trong thời gian tới là cung cấp đến tận tay khách hàng những sản phẩm chính hãng với chất lượng đảm bảo và uy tín cũng như giá cả hợp lý nhất.<br/>
Chúng tôi mong muốn sự đóng góp của khách hàng sẽ giúp chúng tôi ngày một phát triển để từ đó củng cố thêm lòng tin của khách hàng với chúng tôi. Chúng tôi rất biết ơn sự tin tưởng của khách hàng và chúng tôi luôn tâm niệm rằng cần phải cố gắng hơn nữa để xứng đáng với phương châm đề ra “Những gì bạn cần là những gì chúng tôi có” .<br/>
Chúng tôi xin chân thành cảm ơn tất cả các khách hàng đã, đang và sẽ ủng hộ chúng tôi.</p>
					</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
