﻿<div id="freeLeft">
	</div>
	<div id="freeRight">
	</div>
    <div id="main-farmwork">
        <div id="ja-mainnav">
            <ul id="primary">
                <li>
                    <a href="/Home/Index">TRANG CHỦ</a>
                </li>
                <li>
                    <a href="/Introduction/Index4">GIỚI THIỆU
					</a>
                </li>
                <li >
                    <a href="Contact/contact">
					LIÊN HỆ
					</a>
                </li>       
            </ul>
			<ul id="support">
				<li>
                    <a href="/signin/Index3">
					SIGN-IN
					</a>
                </li>
                <li>
                    <a href="/signup/Index2">
					SIGN-UP
					</a>
                </li>
			</ul>
        </div>
		<div id="sliderFrame">
			<div id="slider">
				<img src="../img/slider-1.png" />
				<img src="../img/slider-2.png" />
				<img src="../img/slider-3.png" />
				<img src="../img/slider-4.png" />
				<img src="../img/slider-5.png" />
			</div>
			<!--Custom navigation buttons on both sides-->
			<div class="group-Wrapper">
				<a onclick="imageSlider.previous()" class="group-Prev"></a>
				<a onclick="imageSlider.next()" class="group-Next"></a>
			</div>
		</div>
        <div id="ja-container">
            <div class="row">
                <div class="col-xs-3" id="ja-content">
                    <div id="ja-phone">
                        <h3>ĐIỆN THOẠI</h3>
                        <div class="ja-menu">
                            <ul>
                                <li>
                                    <a href="/Product/Detail">
									<div>Iphone</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>BlackBerry</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>HTC</div></a>
									
                                </li>
                                <li>
                                   <a href="/Product/Detail">
									<div>LG</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Nokia</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Samsung</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Oppo</div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="ja-tablet">
                        <h3>MÁY TÍNH BẢNG</h3>
                        <div class="ja-menu">
                            <ul>
                                <li>
                                    <a href="/Product/Detail">
									<div>Asus</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Acer</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Dell</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Ipad</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Lenovo</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Samsung</div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9" id="contact">
                    <div class="link">
                       <a href="../index.html"><div style="color : #333">Trang chủ</div></a>
					   <div> &rsaquo;&rsaquo;</div>
					   <a href="Contact.html"><div>Liên hệ</div></a>
                    </div>
					<div id="contact-content">
						<div>Liên hệ</div>
						<p>Admin: Hồ Vương Trọng<br/>
						Số điện thoại: 0983883662 <br/>
						Email: tronghv1993@gmail.com <br/>
						<br/>
						Admin: Tôn Thất Thiện Kỳ<br/>
						Số diện thoại: 0936777267  <br/>
						Email: tonthatthienky@gmail.com
						</p>
					</div>
                </div>
            </div>
        </div>
    </div>