﻿@model IEnumerable<_1012206.Models.user>
@{
    ViewBag.Title = "Register";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mobile Service Center</title>
    <link href="~/css/bootraps/bootstrap-responsive.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <link href="~/css/bootraps/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/css/bootraps/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/bootraps/bootstrap.js"></script>
    <script src="~/js/bootraps/bootstrap.min.js"></script>

</head>

<body>
    <!--HEADRER-->
    <div class="header">
        <div class="topheader">
            <div class="topheader-inner w1020px marginauto">
                <ul class="pull-right">
                    <li class="topnav-active">
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        @Html.ActionLink("Đăng ký", "Create", "Users")
                        @Html.ActionLink("Đăng nhập", "Login", "Users")
                        @Html.ActionLink("Search ", "Search", "Users")
                       
                    </li>

                    <li><a href="#">FAQs</a></li>

                    <li><a href="#">Liên hệ</a></li>

                    <li><a class="4rum" href="#">Diễn đàn</a></li>
                </ul>

            </div>
        </div>

        <div class="branch">
            <div class="w1020px marginauto">
                <div class="pull-left">
                    <img src="~/image/icon-logo/logo-260x90.png" />
                </div>
                <div class="pull-right">
                    <img src="~/image/icon-logo/banner-top.png" />
                </div>
            </div>
        </div>

        <div class="navbar">
            <div class="navbar-inner">
                <div class="w1020px marginauto">
                    <ul class="nav ">
                        <li class="active">
                            <a href="#">Trang chủ</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li><a href="#">Điện thoại</a></li>

                        <li><a href="#">Phụ kiện </a></li>

                        <li><a href="#">Dịch vụ sửa chữa</a></li>

                        <li><a href="#">Báo giá </a></li>

                        <li><a href="#">Tin tức </a></li>

                        <li><a href="#">Chính sách & Hướng dẫn</a></li>

                        <li><a href="#">Hỏi đáp </a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li>
                            <a class="link4rum" href="#">Diễn đàn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--END-HEADRER-->
    <!--MAINBODY-->
    <div class="mainbody left-fl">
        <div class="mainbody-content w1020px marginauto">
            <div class="left-area w220px left-fl">
                <div class="block menu-list branch-mobile ">
                    <h4 class="pd5x10"> Danh mục</h4>
                    <ul class="nav nav-list w190px bs-docs-sidenav ">
                        <li class="active">
                            <a href="#">
                                <span class="branch-mobile">Apple</span>
                            </a>
                            <ul>
                                <li><a href="#">Iphone</a></li>
                                <li><a href="#">Ipad</a></li>
                                <li><a href="#">Sửa chữa Iphone </a></li>
                                <li><a href="#">Phụ kiện Iphone </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">Nokia</span>
                            </a>
                            <ul>
                                <li><a href="#">Lumia</a></li>
                                <li><a href="#">Điện thoại mới</a></li>
                                <li><a href="#">Điện thoại cũ</a></li>
                                <li><a href="#">Sửa chữa Nokia </a></li>
                                <li><a href="#">Phụ kiện Nokia </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">SamSung</span>
                                <span class="branch-mobile-logo"><img src="#" /></span>
                            </a>
                            <ul>
                                <li><a href="#">Galaxy </a></li>
                                <li><a href="#">Điện thoại mới</a></li>
                                <li><a href="#">Điện thoại cũ</a></li>
                                <li><a href="#">Sửa chữa SamSung </a></li>
                                <li><a href="#">Phụ kiện SamSung </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">LG Electronic</span>
                            </a>
                            <ul>
                                <li><a href="#">Optimus </a></li>
                                <li><a href="#">Điện thoại mới</a></li>
                                <li><a href="#">Điện thoại cũ</a></li>
                                <li><a href="#">Sửa chữa LG </a></li>
                                <li><a href="#">Phụ kiện LG </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">Sony</span>
                            </a>
                            <ul>
                                <li><a href="#">Xperia </a></li>
                                <li><a href="#">Điện thoại mới</a></li>
                                <li><a href="#">Điện thoại cũ</a></li>
                                <li><a href="#">Sửa chữa Sony </a></li>
                                <li><a href="#">Phụ kiện Sony </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">HTC</span>
                            </a>
                            <ul>
                                <li><a href="#">Điện thoại mới</a></li>
                                <li><a href="#">Điện thoại cũ</a></li>
                                <li><a href="#">Sửa chữa HTC </a></li>
                                <li><a href="#">Phụ kiện HTC </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">Sky Pantech</span>
                            </a>
                            <ul>
                                <li><a href="#">Điện thoại mới </a></li>
                                <li><a href="#">Điện thoại cũ </a></li>
                                <li><a href="#">Dịch vụ & Sửa chữa </a></li>
                                <li><a href="#">Phụ kiện Sky </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span class="branch-mobile">Oppo</span>
                            </a>
                            <ul>
                                <li><a href="#">Điện thoại mới </a></li>
                                <li><a href="#">Điện thoại cũ </a></li>
                                <li><a href="#">Dịch vụ & Sửa chữa </a></li>
                                <li><a href="#">Phụ kiện Oppo </a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div class="block menu-list accessories">
                    <h4 class="pd5x10">Phụ kiện</h4>
                    <ul class="nav nav-list w190px bs-docs-sidenav">
                        <li><a href="#">Tai nghe</a></li>
                        <li><a href="#">Tai nghe Blutooth</a></li>
                        <li class="active"><a href="#">Pin</a></li>
                        <li><a href="#">Vỏ máy</a></li>
                        <li><a href="#">Ốp lưng</a></li>
                    </ul>
                </div>

                <div class="block menu-list supportlive">
                    <h4 class="pd5x10 ">Hỗ trợ trực tuyến</h4>
                    <ul class="nav nav-list w190px ">
                        <li>
                            <a href="ymsgr:SendIM?myphamhoakim1">
                                Kinh doanh 1:
                                <img id="lvhelp_stt" src="http://opi.yahoo.com/online?u=myphamhoakim1&m=g&t=1" />
                            </a>
                        </li>
                        <li>
                            <a href="ymsgr:SendIM?myphamhoakim1">
                                Kinh doanh 2:
                                <img id="lvhelp_stt" src="http://opi.yahoo.com/online?u=myphamhoakim1&m=g&t=1" />
                            </a>
                        </li>
                        <li>
                            <a href="ymsgr:SendIM?myphamhoakim1">
                                Kinh doanh 3:
                                <img id="lvhelp_stt" src="http://opi.yahoo.com/online?u=myphamhoakim1&m=g&t=1" />
                            </a>
                        </li>
                        <li>
                            <a href="ymsgr:SendIM?myphamhoakim1">
                                Kinh doanh 4:
                                <img id="lvhelp_stt" src="http://opi.yahoo.com/online?u=myphamhoakim1&m=g&t=1" />
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="block bannerw220">
                    <!--Chi lay anh trong banner, Tai phan minh hoa dang lay trong phan logo-->
                    <ul class="clean">
                        <li>
                            <a href="#">
                                <img src="~/image/banner/banner-01.jpg" />
                            </a>
                        </li>
                        <li>
                            <a href="#">

                                <img src="~/image/banner/banner-02.png" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/image/banner/banner-03.png" />

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/image/product/Image%2032.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai--><!--Vung ben phai-->
            <div class="right-area w775px left-fl pd10">
                <header>
                    <!-- Start WOWSlider.com HEAD section -->
                    <link href="~/css/wowhome.css" rel="stylesheet" />
                    <script src="~/js/wowslider/jquery.js"></script>
                    <!-- End WOWSlider.com HEAD section -->
                </header>
                <body style="background-color:#d7d7d7">
                    <!-- Start WOWSlider.com BODY section -->
                    <div id="wowslider-container1">
                        <div class="ws_images">
                            <ul>
                                <li><img src="~/image/slider/1.jpg" alt="c13f72f237d765fc0e69e35ba7eb9dd9" title="c13f72f237d765fc0e69e35ba7eb9dd9" id="wows1_0" /></li>
                                <li><img src="~/image/slider/2.jpg" alt="a8235d1055e66c22d61373e942096745" title="a8235d1055e66c22d61373e942096745" id="wows1_1" /></li>
                            </ul>
                        </div>
                        <div class="ws_bullets">
                            <div>
                                <a href="#" title="c13f72f237d765fc0e69e35ba7eb9dd9">1</a>
                                <a href="#" title="a8235d1055e66c22d61373e942096745">2</a>
                            </div>
                        </div>
                        <span class="wsl"><a href="#">Carousel Plugin</a> by WOWSlider.com v4.3</span>
                        <div class="ws_shadow"></div>
                    </div>
                    <script src="~/js/wowslider/script.js"></script>
                    <script src="~/js/wowslider/wowslider.js"></script>
                    <!-- End WOWSlider.com BODY section -->
                    <!--MainProduct-->
                    <!--div class="group group-Product left-fl wp100">
                        <ul>
                            <li><a href="#"><img src="images/banner/group-iphone.jpg" /></a></li>
                            <li><a href="#"><img src="images/banner/group-htc.jpg" /></a></li>
                            <li><a href="#"><img src="images/banner/group-samsung.jpg" /></a></li>
                        </ul>
                    </div-->
                    <!--END=Product-->
                    <!--MainAccessories-->
                    <!--END=Accessories-->
                    <div class="clear wp100"></div>

                    <div class="group product clearfix">
                        <h1> Trang đăng ký </h1>
                        <div class="grid w255px  left-fl mg-top5 gachbottom">
                            @Html.ActionLink("Create New", "Create")
                            <table>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.u_user)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.u_pass)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.u_email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.u_sex)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.u_bday)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.u_adress)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.u_phone)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                              
                                    {
                                         <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_user)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_pass)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_sex)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_bday)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_adress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.u_phone)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.u_user })
                                            @Html.ActionLink("Details", "Details", new { id = item.u_user })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.u_user})
                                        </td>
                                    </tr>
                                   }
                            </table>

                            <!--END-MAINBODY-->

                        </div>

                    </div>

                </body>

            </div>

        </div>

    </div>

</body>

</html>
