﻿@model IEnumerable<_1012206.Models.user>

@{

    ViewBag.Title = "Search";
}
<h2>Search</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
    {
        <p>
           Title: @Html.TextBox("a")
           <input type="submit" value="Filter" />
        </p>
    }
<table>
    <tr>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        <th>
            Chức năng
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.u_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_email)
        </td>
        <td>
            
            @Html.ActionLink("Edit", "Edit", new { id=item.u_user }) |
            
            @Html.ActionLink("Details", "Details", new { id = item.u_user }) |
            
            @Html.ActionLink("Delete", "Delete", new { id = item.u_user })
        
        </td>
        
    </tr>

}
</table>
