﻿<div id="freeLeft">
	</div>
	<div id="freeRight">
	</div>
    <div id="main-farmwork">
		<div id="ja-mainnav">
            <ul id="primary">
                <li>
                    <a href="/Home/Index">TRANG CHỦ</a>
                </li>
                <li>
                    <a href="/Introduction/Index4">GIỚI THIỆU
					</a>
                </li>
                <li >
                    <a href="/Contact/contact">LIÊN HỆ
					</a>
                </li>       
            </ul>
			<ul id="support">
				<li>
                    <a href="/signin/Index3">SIGN-IN
					</a>
                </li>
                <li>
                    <a href="/signup/Index2">
					SIGN-UP
					</a>
                </li>
			</ul>
        </div>
        <div id="sliderFrame">
			<div id="slider">
				<img src="~/Content/img/slider-1.png" />
				<img src="~/Content/img/slider-2.png" />
				<img src="~/Content/img/slider-3.png" />
				<img src="~/Content/img/slider-4.png" />
				<img src="~/Content/img/slider-5.png" />
			</div>
			<!--Custom navigation buttons on both sides-->
			<div class="group-Wrapper">
				<a onclick="imageSlider.previous()" class="group-Prev"></a>
				<a onclick="imageSlider.next()" class="group-Next"></a>
			</div>
		</div>
        <div id="search">
			<label>Tìm kiếm: </label>
			<ul>
				<li>
					<strong>Hãng</strong>
					<input type="text"/>
				</li>
				<li>
					<strong>Loại</strong>
					<input type="text"/>
				</li>
				<li>
					<strong>Giá từ</strong>
					<input type="text"/>
					<strong>đến</strong>
					<input type="text"/>
				</li>
			</ul>
			<input type="submit" value="Search" style="display: inline; width: 97.7px" onClick="location.href='result.html'"/>
		</div>
        <div id="ja-container">
            <div class="row">
                <div class="col-xs-3" id="ja-content">
                    <div id="ja-phone">
                        <h3>ĐIỆN THOẠI</h3>
                        <div class="ja-menu">
                            <ul>
                                <li>
                                    <a href="/Product/Detail">
									<div>Iphone</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>BlackBerry</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>HTC</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>LG</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Nokia</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Samsung</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Oppo</div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="ja-tablet">
                        <h3>MÁY TÍNH BẢNG</h3>
                        <div class="ja-menu">
                            <ul>
                                <li>
                                    <a href="/Product/Detail">
									<div>Asus</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Acer</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Dell</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Ipad</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Lenovo</div></a>
                                </li>
                                <li>
                                    <a href="/Product/Detail">
									<div>Samsung</div></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9" id="ja-product">
					<div>
					<h3>SẢN PHẨM HOT</h3>
					</div>
                    <div id="hot-product">
                        <div class="spacer">
                            <a href="/Product/Detail"><img src="~/Content/img/iphone5s-gold-small.png" /></a>
                            </br>  
                            <a href="/Product/Detail"><p>Iphone 5s-64GB</p></a>
                            <p class="price">Giá 18.990.000 vnđ</p>
                        </div>
                        <div class="spacer">
                            <a href="/Product/Detail"><img src="~/Content/img/ipad-air.png" /></a>
                            </br>
                            <a href="/Product/Detail"><p>Ipad Air 4G-32GB</p></a>
                            <p class="price">Giá 14.890.000 vnđ</p>
                        </div>
                        <div class="spacer">
                            <a href="/Product/Detail"><img src="~/Content/img/htc-m8-small.png" /></a>
                            </br>
                            <a href="/Product/Detail"><p>HTC One M8</p></a>
                            <p class="price">Giá 16.500.000 vnđ</p>
                        </div>
                        <div class="spacer">
                            <a href="/Product/Detail"><img src="~/Content/img/htc-one-max-small.png" /></a>
                            </br>
                            <a href="/Product/Detail"><p>HTC One Max</p></a>
                            <p class="price">Giá 12.500.000 vnđ</p>
							
                        </div>
						<div class="spacer">
                            <a href="/Product/Detail"><img src="~/Content/img/lumia-930-small.png" /></a>
                            </br>
                            <a href="/Product/Detail"><p>Lumia 930</p></a>
                            <p class="price">Giá 12.600.000 vnđ</p>
                        </div>
						<div class="spacer">
                            <a href="/Product/Detail"><img src="~/Content/img/Samsung-galaxy-s5-small.png" /></a>
                            </br>
                            <a href="/Product/Detail"><p>Samsung Galaxy S5</p></a>
                            <p class="price">Giá 15.600.000 vnđ</p>
                        </div>
                        <div class="spacer">
                            <a href="/Product/Detail"><img src="~/Content/img/Oppo-N1-small.png" /></a>
                            </br>
                            <a href="/Product/Detail"><p>Oppo N1</p></a>
                            <p class="price">Giá 12.690.000 vnđ</p>
                        </div>
                        
						<div class="spacer">
                            <a href="/Product/Detail"><img src="~/Content/img/BlackBerry z10-small.png" /></a>
                            </br>
                            <a href="/Product/Detail"><p>BlackBerry Z10</p></a>
                            <p class="price">Giá 4.500.000 vnđ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>